body {
    background-color: #F8F3EA;
}

.outer-box {
    display: flex;
    width: 520px;
    height: 520px;
    background-color: #5784E6;
    margin: 80px auto 50px auto;
    border-radius: 15px;
}

#container {
    display: flex;
    width: 480px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.square {
    background-color: #D1E8FF;
}

.square:hover {
    background-color: #0B1957;
}

.square.clicked {
    background-color: #0B1957;
}
